body>div {
    display: flex;
    justify-content: center;
}
body {
    background-color: black;
}
button {
    background-color: #17a2b8;
    color: white;
    cursor: pointer;
    
    
}
#s3x3 button {
    height: min(20vh,30vw);
    width:  min(20vh,30vw);;
    font-size:  min(20vh,20vw)
}
#s4x4 button {
    height: min(15vh,22vw);
    width:  min(15vh,23vw);
    font-size:  min(15vh,15vw)
    
}
#s4x4 {
    display: none;
}
button:disabled{
    cursor: not-allowed;
}
button:enabled:hover {
    background-color:#007bff
}
#status {
    display: block;
    color: white;
    font-size:  3rem;
    font-weight: bold;
    text-align: center;
    font-size: min(10vh,10vw);
}
#bottom {
    width: 100%;
}
#bottom>button {
    width: 50%;
    font-size: min(10vh,10vw);
}