body {
    background-color: black;
    display: flex;
    justify-content: center;
}
div {

}
button {
    background-color: #17a2b8;
    color: white;
    cursor: pointer;
    font-size: 4rem;
    
}
table button {
    height: min(20vh,20vw);
    width:  min(20vh,20vw);;
    
}
table button:disabled{
    cursor: not-allowed;
}
button:enabled:hover {
    background-color:#007bff
}
#status {
    color: white;
    font-size:  3rem;
    font-weight: bold;
}
#clear {
    width: 100%;
}